/* Fonte global */
body {
    font-family: "Outfit", sans-serif;;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}


form {
    background: white;
    padding: 30px 40px;
    margin-top: 50px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}


h2 {
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
}


label {
    font-weight: 500;
    font-size: 15px;
}


input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #aaa;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    transition: border 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #4d8fff;
    outline: none;
    box-shadow: 0 0 5px rgba(77, 143, 255, 0.4);
}


.erro {
    color: red;
    font-size: 13px;
    margin: 0 0 10px;
}

.ok {
    color: green;
    font-size: 13px;
    margin: 0 0 10px;
}


button {
    width: 100%;
    padding: 12px;
    background: #4d8fff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #1f6cff;
}
