* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #000000;
    color: white;
}

/* ===== Navbar ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #000000;
    border: solid 0.3px rgba(255, 255, 255, 0.178);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    width: auto;
    display: block;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00f2ff;
}

#menu-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* ===== Hero ===== */
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    font-size: 32px;
    font-weight: 500;
}

.hero p {
    max-width: 800px;
    margin: 20px auto 0;
    font-weight: 300;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 90px 20px;
    border-top: solid 0.2px rgba(255, 255, 255, 0.342);
}

.titulo h1,
.titulo h3 {
    font-weight: 300;
    max-width: 900px;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 10%;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(-10px);
}

/* ===== Footer ===== */
footer {
    text-align: center;
    padding: 15px;
    border-top: solid 0.2px rgba(255, 255, 255, 0.342);
    margin-top: 40px;
    font-size: 14px;
    font-weight: 300;
}

/* ===== Responsivo ===== */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10%;
        background: #111827;
        padding: 20px;
        border-radius: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    #menu-btn {
        display: block;
    }

    .card {
        width: 100%;
        max-width: 350px;
        height: 220px;
    }
}
