* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #fafafa;
    color: rgb(0, 0, 0);
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #000000;
    border: solid 0.3px rgba(172, 0, 143, 0.178);
}

.logo {
    display: flex;
    align-items: center;
}


.logo img {
    height: 40px; /* ou 50px */
    width: auto;
    display: block;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00f2ff;
}

#menu-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Hero */
.hero {
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   padding: 50px;
}
.hero p{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

.titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 90px;
    border-top: solid 0.2px rgba(255, 255, 255, 0.342);
}
.titulo h1{
    font-weight: 300;

}



/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 10%;
    flex-wrap: wrap;
}

.card {
    padding: 30px;
    border-radius: 10px;
    border: solid 0.2px rgba(255, 255, 255, 0.342);
    width: 280px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #e8e8e9;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    border-top: solid 0.2px rgba(255, 255, 255, 0.342);    
    margin-top: 40px;
}

/* Responsivo */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10%;
        background: #111827;
        padding: 20px;
        border-radius: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    #menu-btn {
        display: block;
    }
}
