body{
    background-color: rgb(20, 20, 20);
    font-family: "Outfit", sans-serif;
    margin: 0px;
}

header{     
    background-color: black;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 55px;
}


#logo img{
    height: 60px;
    width: auto;
}

/* SWITCH DARK MODE */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ffd900; /* amarelo do seu estilo */
}

input:checked + .slider:before {
    transform: translateX(26px);
}


#imagens{
    display: flex;
}


#img1{   
    padding: 50px;
    display: flex;
    flex-direction: column;    
    border-radius: 30px;    
    color: aliceblue;
}

#img1 img{    
    width: 300px;
    height: 450px;
    border-radius: 30px;
    /* retirar o padding da imagem */
}

#img1:hover {
    background-color: rgb(37, 37, 37);
    transition: 0.9s ease;
    transform: scale(1.1); /* aumenta 10% */
}

#btn1{
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 30px;
    border: solid 0.5px rgba(164, 167, 3, 0.623);
    color: aliceblue;
    font-size: 20px;
}

#btn1:hover{
    background-color:rgb(218, 214, 0);
    color: black;
    transition: 0.5s;
}

#img2{   
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: aliceblue; 
    border-radius: 30px;
}


#img2{   
    padding: 50px; 
}

#img2:hover {
    background-color: rgb(37, 37, 37);
    transition: 0.9s ease;
    transform: scale(1.1); /* aumenta 10% */
}


#img2 img{    
    width: 300px;
    height: 450px;
    border-radius: 30px;
    /* retirar o padding da imagem */
}

#btn2{
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 30px;
    border: solid 0.5px rgba(164, 167, 3, 0.623);
    color: aliceblue;
    font-size: 20px;
}

#btn2:hover{
    background-color:rgb(218, 214, 0);
    color: black;
    transition: 0.5s;
}

#img3{   
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: aliceblue; 
    border-radius: 30px;
}

#img3{   
    padding: 50px; 
}

#img3:hover {
    background-color: rgb(37, 37, 37);
    transition: 0.9s ease;
    transform: scale(1.1); /* aumenta 10% */
}

#img3 img{    
    width: 300px;
    height: 450px;
    border-radius: 30px;
    /* retirar o padding da imagem */
}

#btn3{
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 30px;
    border: solid 0.5px rgba(164, 167, 3, 0.623);
    color: aliceblue;
    font-size: 20px;
}

#btn3:hover{
    background-color:rgb(218, 214, 0);
    color: black;
    transition: 0.5s;
}

#img4{   
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: aliceblue; 
    border-radius: 30px;
}

#img4{   
    padding: 50px; 
}

#img4:hover {
    background-color: rgb(37, 37, 37);
    transition: 0.9s ease;
    transform: scale(1.1); /* aumenta 10% */
}

#img4 img{ 
    width: 300px;
    height: 450px;
    border-radius: 30px;
    /* retirar o padding da imagem */
}

#btn4{
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 30px;
    border: solid 0.5px rgba(164, 167, 3, 0.623);
    color: aliceblue;
    font-size: 20px;
}

#btn4:hover{
    background-color:rgb(218, 214, 0);
    color: black;
    transition: 0.5s;
}
#img5{   
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    border-radius: 30px; 
}

#img5{   
    padding: 50px; 
}

#img5:hover {
    background-color: rgb(37, 37, 37);
    transition: 0.9s ease;
    transform: scale(1.1); /* aumenta 10% */
}

#img5 img{ 
    width: 300px;
    height: 450px;
    border-radius: 30px;
    /* retirar o padding da imagem */
}


#btn5{
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 30px;
    border: solid 0.5px rgba(164, 167, 3, 0.623);
    color: aliceblue;
    font-size: 20px;
}

#btn5:hover{
    background-color:rgb(218, 214, 0);
    color: black;
    transition: 0.5s;
}

#img6{   
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    border-radius: 30px; 
}

#img6{   
    padding: 50px; 
}

#img6 img{ 
    width: 300px;
    height: 450px;
    border-radius: 30px;
    /* retirar o padding da imagem */
}

#btn6{
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 30px;
    border: solid 0.5px rgba(164, 167, 3, 0.623);
    color: aliceblue;
    font-size: 20px;
}

#btn6:hover{
    background-color:rgb(218, 214, 0);
    color: black;
    transition: 0.5s;
}

.led {
    box-shadow: 0 0 15px 5px rgba(251, 255, 0, 0.6);
}



