@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  background: #000000;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  width: 100%;
  max-width: 400px;
  background: #000000;
  padding: 85px;
  border-radius: 10px;
  border: 0.1px solid rgba(255, 255, 255, 0.2);
}

h2 {
  text-align: center;
  font-weight:lighter;
  margin-bottom: 20px;
}

label {
  font-weight: lighter;
  display: block;
  margin-top: 12px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  color: aliceblue;
  font-weight: 100;
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0.1px solid rgba(255, 255, 255, 0.2);
  background-color: #000000;
}
