/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* HEADER COM MENU INTEGRADO */
.header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 85%;
    height: 85px;

    padding: 0 25px;

    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: space-between;
    align-items: center;


    z-index: 20;
}

/* LOGO */
.logo img {
    height: 60px;
}

/* MENU — INTEGRADO AO HEADER */
.menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    /* tudo junto mas ainda organizado */
}

/* LINKS */
.menu a {
    position: relative;
    z-index: 2;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #222;
    padding: 33px 8px;
}

.menu a::after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FF6B6B;
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

/* VÍDEO */
.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Container do vídeo */
.video-container {
    position: relative;
    width: 100%;
    height: 500px;
    /* ajuste como quiser */
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Barra flutuante */
.search-box {
    position: absolute;
    bottom: -40px;
    /* faz ela ficar metade sobre o vídeo, metade fora */
    left: 50%;
    transform: translateX(-50%);

    width: 85%;
    max-width: 950px;
    background: white;
    padding: 25px 40px;

    display: flex;
    align-items: center;
    gap: 25px;

    border-radius: 50px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

    z-index: 10;
}

/* Título */
.search-title {
    font-size: 22px;
    font-weight: 600;
    color: #1a2b4b;
    white-space: nowrap;
}

/* Linha do input */
.search-box input {
    flex: 1;
    border: none;
    border-bottom: 2px solid #1a2b4b;
    padding: 10px 5px;
    font-size: 18px;
    outline: none;
    background: transparent;
}

/* Botão com ícone */
.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    padding: 5px;
}

.hoteis {
    margin: 100px auto;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hoteis h2 {
    font-size:55px;
    margin-bottom: 20px;
    color: #4b2e1a;
}

.hotel-cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;

  
}
.hotel-cards img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
