/* Geral */
body {
    font-family: "Outfit", sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}


form {
    background: white;
    padding: 25px;
    margin-top: 40px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


label {
    font-size: 15px;
    color: #444;
    margin-bottom: 6px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 5px;
    transition: 0.3s;
    outline: none;
}

input:focus {
    border-color: #0084ff;
}


p {
    font-size: 13px;
    color: red;
    height: 16px; /* mantém espaço mesmo sem erro */
    margin-bottom: 10px;
}


button {
    width: 100%;
    padding: 12px;
    background: #0084ff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #006cd6;
}


.invalido {
    border-color: red !important;
}

.valido {
    border-color: green !important;
}
