body {
    font-family: "Outfit", sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
    display: block;
}


.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgb(219, 219, 219);
    padding: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}


label {
    font-size: 16px;
    color: #444;
    margin-bottom: 8px;
    text-align: center;
   
}


input[type="text"] {
    width: 80;
    padding: 11px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.3s;
    outline: none;
    margin-bottom: 5px;
}


input[type="text"]:focus {
    border-color: #0077ff;
}


.msg {
    font-size: 14px;
    height: 18px;
    margin-bottom: 15px;
}


.valido {
    border-color: green !important;
}

.invalido {
    border-color: red !important;
}